nav {
    position: fixed;
    top: 0;
    width: 100%;
}

nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav > ul > li {
    float: left;
    border-right: 1px solid #bbb;
}

nav > ul > li a {
    display: block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav > ul > li a:hover {
    background-color: #111;
}

html {
    min-height: 100%;
    background-color: #333;
    background-image: linear-gradient(to bottom right, #333, #594094);
}

body {
    color:#929292;
}

section {
    height:430px;
}

h1 {
    font-size: 48px;
}

p {
    font-size: 20px;
}

figure {
    padding-top: 50px;
    width:auto;
    float: left;
}

img {
    height: 200px;
}

ul {
    font-size: 18px;
}

a {
    color:#929292;
}

.active {
    background-color: #4CAF50;
}

#social {
    padding-top:50px;
}