nav {
    position: fixed;
    top: 0;
    width: 100%;
}

nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav > ul > li {
    float: left;
    border-right: 1px solid #bbb;
}

nav > ul > li a {
    display: block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav > ul > li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
nav > ul > li a:hover, .dropdown:hover .dropbtn {
    background-color: black;
  }
  
nav > ul > li.dropdown {
    display: inline-block;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #bbb;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
  
.dropdown:hover .dropdown-content {
    display: block;
  }

html {
    min-height: 100%;
    background-color: #333;
    background-image: linear-gradient(to bottom right, #333, #594094);
}

body {
    color:#929292;
}

body > ul {
    font-size:18px;
}

h1, h2 {
    text-shadow: 2px 2px black;
}

h1 {
    font-size: 48px;
    padding-top: 50px;
}

figure {
    margin-left:0;
    padding-left:0;
    width: auto;
    float:left;
}

img {
    height: 100px;
}

ul {
    margin-top:0;
}

.active {
    background-color: #4CAF50;
}

#python {
    padding-top:10px;
    margin-bottom:5px;
}

#javascript {
    padding-top: 8px;
    margin-bottom:100px;
}

#htmllogo {
    margin-bottom:0;
}

#htmlpic {
    height:125px;
}

#html {
    padding-top:12px;
    margin-top:20px;
    margin-bottom:110px;
}

#csspic {
    height:125px;
}

#css {
    padding-top:10px;
    margin-bottom:130px;
}

#git {
    padding-top:10px;
    margin-bottom:5px;
}

#gitlist {
    margin-bottom:31px;
}

#sql {
    margin-bottom: 130px;
}

#microsoft {
    margin-bottom:5px;
}

#microsoftlist {
    margin-bottom: 31px;
}

#spss {
    margin-top: 65px;
    margin-bottom: 80px;
}

#acrobatpic {
    height:130px;
}