nav {
    position: fixed;
    top: 0;
    width: 100%;
}

nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav > ul > li {
    float: left;
    border-right: 1px solid #bbb;
}

nav > ul > li a {
    display: block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav > ul > li a:hover {
    background-color: #111;
}

html {
    min-height: 100%;
    background-color: #333;
    background-image: linear-gradient(to bottom right, #333, #594094);
}

body {
    color:#929292;
}

body > ul {
    font-size:18px;
}

h1 {
    font-size: 48px;
    padding-top: 50px;
}

figure {
    margin-left:0;
    padding-left:0;
    width: auto;
    float:left;
}

img {
    height: 100px;
}

.active {
    background-color: #4CAF50;
}

#python {
    padding-top:10px;
    margin-bottom:5px;
}

#pythonlist {
    margin-top:0;
}

#javascript {
    padding-top: 8px;
    margin-bottom:100px;
}

#htmllogo {
    margin-bottom:0;
}

#htmlpic {
    height:125px;
}

#html {
    padding-top:12px;
    margin-top:20px;
    margin-bottom:110px;
}

#csspic {
    height:125px;
}

#css {
    padding-top:10px;
    margin-bottom:130px;
}

#git {
    padding-top:10px;
}